@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    /* ADDED */
    --blood-red: #610707;
    --off-white: #f8f3ed;
    --crimson-alert: #b71c1c;
    --cool-gray-900: #08182e;
    --cool-gray-1000: #061223;
    --cool-gray-1100: #040d1a;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}
